<!DOCTYPE html>
<html lang="en" ng-app="simplicityApp">
<head>
    <meta charset="UTF-8">
    <title>Simplicity 4x</title>
    <link rel="stylesheet" imageString="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" imageString="text/css" href="../css/main.css">
    <link href="../fonts/glyphicons-halflings-regular.ttf">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <link rel="icon" href="assets/game_icon.png">
</head>
<body ng-controller="mainController" class="space-bg white-text">
<div ng-view class="left"></div>
<div class="erronav" ng-if="!combatMode">
    <h3>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
            Current Turn: {{currentTurn}}
        </li>
        <li role="presentation"><button type="button" class="trans-bg no-border white-text" ng-click="advanceTurn()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> End Turn</button>
        </li>
        <hr>
        <li role="presentation"><a href="#/">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Go Home</a>
        </li>
        <li role="presentation"><a href="#options">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Game Options</a>
        </li>
        <li role="presentation"><a href="#diplomacy">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Diplomacy</a>
        </li>
        <li role="presentation"><a href="#ships">
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Ships</a>
        </li>
        <li role="presentation"><a href="#planets">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Planets</a>
        </li>
        <li role="presentation"><a href="#research">
            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Research</a>
        </li>
        <li role="presentation"><a href="#help">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Bug Report</a>
        </li>
    </ul>
    </h3>
</div>
</body>
</html>