<!--<div ng-repeat="planet in planets">
    <img ng-src={{planet.imageString}}>
    {{planet.name}}<br>
    System: {{planet.system}} <br>
    Population: {{planet.population}}
</div>-->

<ul class="media-list" style="width: 800px;">
    <li class="media" ng-repeat="planet in planets">
        <div class="media-left">
            <img class="media-object" ng-src={{planet.imageString}} alt="planet?">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{planet.name}}</h4>
            System: {{planet.system}} <br>
            Population: {{planet.population}}
        </div>
    </li>
</ul>