
<div class="help-div" id="helpDiv" ng-hide="!helpMode">
    <center>Ships View Help</center>
    On this screen you will see a list of your existing ships and have the ability to create new ships provided you
    have enough <span class="production">production</span> in your pool. (See planets help for an explanation of
    production).

    Here is a basic overview of how combat ships work:<br><br>
    <span class="generator">Generator:</span> every ship has a generator that has two characteristics -
    <span class="generator">power per turn</span> and <span class="generator">reserve power</span>. Reserve power is
    like your "battery" or "bank" of power.<br>
    <span class="shield">Shield:</span> a defensive barrier that reduces damage to the ship. Shields regenerate fully
    outside of combat and can regenerate (slowly) in combat. Shields consume power equal to the damage blocked, which
    is based on the size of the ship (bigger ships have more powerful shields).
    <br>
    <h3>Ship Class</h3>
    Each ship has a "class" or size. At first, only the smaller classes are available but as you progress through the
    tech tree you will be able to build bigger and better ships. At some point we'll provide more specifics about the
    strategies and usefulness of each type but for now here are the types:<br>
    <div class="w200">
        Fighter: <img src="assets/ships/fighter/fighter_blue.png"><br><br>
        Destroyer: <img src="assets/ships/destroyer/destroyer_blue.png"><br><br>
        Cruiser: <img src="assets/ships/cruiser/cruiser_blue.png"><br><br>
    </div>
    <div class="w600">
        <table>
            <tr>
                <th>
                    Ship Data
                </th>
                <th>
                    Damage
                </th>
                <th>
                    Health
                </th>
                <th>
                    Production Cost
                </th>
                <th>
                    Shield Health
                </th>
                <th>
                    Shield Block
                </th>
            </tr>
            <tr>
                <th>
                    Fighter
                </th>
                <td>
                    8
                </td>
                <td>
                    20
                </td>
                <td>
                    20
                </td>
                <td>
                    25
                </td>
                <td>
                    15?
                </td>
            </tr>
        </table>
    </div>
    Note: ship sizes are not to scale. Fighters appear way bigger than they "should" simply to make them visible, and
    the bigger ships will appear smaller than they "should".
</div>
<div id="mainDiv" ng-hide="helpMode">
    <div class="h40">
        <div class="w400">
            <center><h4>Your Ships</h4></center>
        </div>
        <div class="w400">
            <center><h4>Shipyard</h4></center>
        </div>
    </div>
    <div>
        <!--These in-line styles are left as an excercise for the reader.      No, I mean, I'm coming back here anyway. TODO-->
        <div id="shipInfoDiv" class="w400 h560 v-scroll no-h-scroll padding10">
            <div ng-repeat="ship in ships">
                <div class="w200 h120">
                    <center><img ng-src={{ship.imageString}} style="padding-top: 10%"></center>
                </div>
                <div class="w600 h120">
                    <h4>{{ship.name}}</h4>
                    Location: {{ship.starSystem.name}} <br>
                    Health: {{ship.health}}/{{ship.maxHealth}}
                </div>
            </div>
        </div>
        <div id="shipyardDiv" class="w400 h560 padding10">
            <h4>Total Production Accumulated: {{totalProduction}}</h4>
            <br>
            (Optional)
            <input type="text" class="trans-bg margin20" ng-model="shipName" placeholder="Name your ship." maxlength="32">
            <div id="shipImagesDiv" class="w150 left">
                <img ng-src="{{colonizerChoice}}" ng-click="selectShipType(0)">

                <br><br>
                <img ng-src="{{fighterChoice}}" ng-click="selectShipType(1)">

                <br><br>
                <img ng-src="{{destroyerChoice}}" ng-click="selectShipType(2)" ng-class="destroyerEnabled">

                <br><br>
                <img ng-src="{{cruiserChoice}}" ng-click="selectShipType(3)" ng-class="cruiserEnabled">

                <br><br>
                <button type="button" class="trans-bg margin20 no-border" ng-click="purchaseShip()"><h3>Purchase Ship</h3></button>
                <br>
            </div>
            <div id="shipTypeDiv" class="w150 left">
                <center>
                    <span ng-if="colonizerSelected">
                        Colonizer (Cost: 60)
                    </span>
                    <br><br><br><br>
                    <span ng-if="fighterSelected">
                        Fighter (Cost: 20)
                    </span>
                    <br><br><br>
                    <span ng-if="destroyerSelected">
                        Destroyer (Cost: 80)
                    </span>
                    <br><br><br><br><br>
                    <span ng-if="cruiserSelected">
                        Cruiser (Cost: 100)
                    </span>
                </center>
            </div>
        </div>
    </div>
</div>
<div id="button-div">
    <button type="button" class="trans-bg no-border white-text"  ng-click="getHelp()">
        <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h3></button>
</div>