
<div class="h40">
    <div class="star-bg w400">
        <center><h4>Your Ships</h4></center>
    </div>
    <div class="star-bg w400">
        <center><h4>Shipyard</h4></center>
    </div>
</div>
<div>
    <!--These in-line styles are left as an excercise for the reader. No, I mean, I'm coming back here anyway. TODO-->
    <div id="shipInfoDiv" class="star-bg w400" style="overflow-y:scroll; overflow-x: hidden; height:560px;">
        <div ng-repeat="ship in ships">
            <div class="w200 h120">
                <img ng-src={{ship.imageString}} style="padding: 15%">
            </div>
            <div class="w600 h120">
                <h4>{{ship.name}}</h4>
                Location: {{ship.starSystem.name}} <br>
                Health: {{ship.health}}/{{ship.maxHealth}}
            </div>
        </div>
    </div>
    <div id="shipyardDiv" class="star-bg w400 h560 padding10">
        Total Production Accumulated: {{totalProduction}}<br>
        <select class="space-bg" ng-model="shipTypeSelection">
            <option ng-repeat="option in unlockedShips">{{option}}</option>
        </select>
        <input type="text" class="trans-bg" ng-model="shipName" placeholder="Name your ship.">
        <button type="button" class="space-bg" ng-click="purchaseShip()">Purchase Ship</button>
    </div>
</div>