<div class="help-div" id="help-div" ng-hide="!helpMode">
    <center>Main/Star System Graph View Help</center>
    <br>
    The "Star System Graph" or more simply the "Map" gives us the big picture of the universe as we know it. It shows
    the Star Systems, represented by <img src="assets/tinysun.png">. Each Star System has between zero and three planets
    in it. The lines connecting the Star Systems represent the Space Tunnels. Ships travel through these tunnels to get
    to other star systems since as we all know Faster Than Light travel is impossible (wink) and otherwise it would take
    hundreds of years to get anywhere. <br><br>

    The Space Tunnels do take some time to traverse - as a hint this is calculated from the cartesian distance, so the
    visual represenation is to scale (in other words, if a tunnel appears twice as long visually, it will take twice
    as long to traverse).<br><br>

    The Alien Race icons (<img src="assets/races/race1_icon.jpg">) on the map show the Home Systems (AKA starting
    points) of each race.<br><br>

    Down the road:
    <ul>
        <li>
            Space Tunnels can be 'improved' much like building roads/railroads in other games.
        </li>
        <li>
            Exploration of the map and fog of war
        </li>
    </ul>
</div>
<div id="phaser-canvas-container" ng-hide="helpMode"></div>
<div class="erro-miniview">
    <div class="w200" id="systemNameDiv">
        <b>{{selectedSystem.name}} System</b><br>
    </div>
    <div class="w400" id="planetsDiv">
        Planets:
        <ul class="no-bullet-list">
            <li ng-repeat="planet in selectedSystem.planets">
                <img ng-src={{planet.icon}} class="icon-padding">{{planet.name}} Size: {{planet.size}}
            </li>
        </ul>
    </div>
    <button class="space-bg right" ng-click="goToDagobah()" ng-hide="noSystemSelected" type="button">Go To System</button>
    <button class="space-bg help-button" ng-click="getHelp()" type="button"><h3>Help</h3></button>
</div>