<div class="help-div" id="help-div" ng-hide="!helpMode" >
    Cool help content for ssgview
</div>
<div id="phaser-canvas-container" ng-hide="helpMode"></div>
<div class="erro-miniview">
    <div class="w200" id="systemNameDiv">
        <b>{{selectedSystem.name}} System</b><br>
    </div>
    <div class="w400" id="planetsDiv">
        Planets:<ul>
        <li ng-repeat="planet in selectedSystem.planets">{{planet.name}} Size: {{planet.size}}</li>
    </ul>
    </div>
    <button class="space-bg right" ng-click="goToDagobah()" ng-hide="noSystemSelected" type="button">Go To System</button>
    <button class="space-bg help-button" ng-click="getHelp()" type="button"><h3>Help</h3></button>
</div>