<div id="phaser-canvas-container" ng-hide="helpMode">
</div>

<div class="help-div" id="help-div" ng-hide="!helpMode">
    <center>System View Help</center>
    Welcome to System View Help. The purpose of this page is to give you, the user, information about how to play this
    part of the game. Let's get started.

    <h4>What is this?</h4>
    This is the System View. In this screen you can see everything that's going on in this particular star system. You
    should see all the planets in the system, as well as the tunnels that connect this system to other systems. You can
    also see the ships present in the system. Clicking on any of these elements will display detailed information in the
    context bar (which you can see below).

    <h4>OK - How do I play?</h4>
    There are four main possible actions you will want to take from this screen:
    <ol>
        <li>Use tunnels to travel to other systems</li>
        <li>Colonize a planet</li>
        <li>Start Combat (NFI)</li>
        <li>Adjust planet output</li>
    </ol>
    <h5>Tunnels</h5>
    To open the tunnels and activate space travel hit the "Open Tunnels" button (to close, hit the button again). You
    should see a visual indicator that the tunnels are open (animation). Then simply drag the ship you want to the
    desired tunnel. You can find out which other system a tunnel connects to by clicking it.
    <h5>Colonize</h5>
    To colonize a planet you will need to toggle Colonize Mode to ON. At this point you should see a small
    <span class="green-text">green</span> circle around any available planets.
    Then just drag your colonizer over to that planet.<br>
    <img src="assets/ships/colonizer/colonizer_blue.png">
    <img src="assets/planets/planet2.png">
    <h5>Start Combat (Not Fully Implemented)</h5>
    This will start combat with four enemy fighters. Combat results are not permanent.<br>
    <h5>Adjust Output</h5>
    To adjust the output of a planet between <span class="research">research</span> and <span class="production">production</span>
    select the planet and play with the slider. The more to the left, the more the planet will be focused on research.
    To the right the planet will focus its output on production. Hit "Commit" to save the change.
</div>

<!--<div class="erro-miniview">
    <div class="w200 h150" id="infoDiv">
        <img ng-src={{selectedElement.icon}} class="icon-padding img-rounded">
        <b>{{selectedElement.name}}</b><br>
        {{selectedElement.health}}{{selectedElement.size}}{{selectedElement.travelTime}}<br>
        {{selectedElement.turnsToGrowth}}<br>
        {{selectedElement.population}}
    </div>
    <div class="w390" id="spacerDiv" ng-hide="shipSelected || planetSelected">
        <span class="black-text">_</span>
    </div>
    <div class="w390" id="shipActionDiv" ng-hide="!shipSelected">
        <button class="space-bg w120" type="button" ng-click="enterCombat()">Enter Combat</button> <br>
        <button class="space-bg w120" type="button" ng-click="scrapShip(selectedElement)">Scrap</button>
    </div>
    <div class="w390" id="planetActionDiv" ng-hide="!planetSelected">
        <div class="left clear-both">Change Planet Output Priorities </div>
        <div class="left clear-both">
            <span class="left research">Research </span>
            <div class="left">
                <input class="w120 left" type="range" ng-model="outputSlider" style="float:left">
            </div>
            <span class="left production"> Production</span>
        </div>
        <div class="left clear-both padding10">
            <button class="space-bg" type="button" ng-click="changeOutput(selectedElement)">Confirm</button>
        </div>
    </div>
    <div class="w200 h150" id="alwaysAvailableButtons">
        <button class="btn btn-default space-bg w150 white-text" type="button" ng-click="openTunnels()">{{tunnelToggle}}</button><br>
        <button class="btn btn-default space-bg w150 white-text" type="button" ng-click="colonizeMode()">{{colonizeToggle}}</button><br>
        <button class="btn btn-default space-bg w150 blue-text" type="button" ng-click="getHelp()"><h2>Help</h2></button>
    </div>
</div>-->

<!--
<div class="panel-body space-bg pd-nav-box no-padding">
    <div class="left">
        <button type="button" class="trans-bg no-border white-text"  ng-click="getHelp()">
            <h4><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h4></button>
    </div>
    <div class="pd-panel-header" ng-if="selectedElement.name">
        <center><h4>
            <img ng-src={{selectedElement.icon}} class="icon-padding">{{selectedElement.name}}
        </h4></center>
    </div>
    <div class="w200 h150" id="infoDiv" ng-if="selectedElement.name">
        Info:
        {{selectedElement.health}}{{selectedElement.size}}{{selectedElement.travelTime}}<br>
        {{selectedElement.turnsToGrowth}}<br>
        {{selectedElement.population}}
    </div>
</div>
-->


<div class="panel panel-default trans-bg w800">
    <!--
        <div class="w200" id="systemNameDiv">
            <b>{{selectedSystem.name}} System</b><br>
        </div>
    -->
    <div class="panel-body pd-nav-box no-padding">
        <div class="left">
            <button type="button" class="trans-bg no-border white-text"  ng-click="getHelp()">
                <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h3></button>
        </div>
        <div class="pd-panel-header" ng-hide="!selectedElement.name">
            <center>
                <h4>
                    <img ng-src={{selectedElement.icon}} class="icon-padding img-rounded">
                    {{selectedElement.name}}
                </h4>
            </center>
        </div>
        <div class="pd-panel-header" ng-hide="selectedElement.name">
            <center>
                <h4>
                    <img src="assets/tinysun1.png" class="icon-padding img-rounded">
                    Select something
                </h4>
            </center>
        </div>
        <div class="w200" id="infoDiv" ng-if="selectedElement.name">
            Info:<br>
            {{selectedElement.health}}{{selectedElement.size}}{{selectedElement.travelTime}}<br>
            {{selectedElement.turnsToGrowth}}<br>
            {{selectedElement.population}}
        </div>
        <div class="w300 left" id="shipActionDiv" ng-hide="!shipSelected">
            <button class="trans-bg no-border white-text padding5" type="button" ng-click="enterCombat()">
                <h4>
                    Enter Combat
                </h4>
            </button> <br>
            <button class="trans-bg no-border white-text padding5" type="button" ng-click="scrapShip(selectedElement)">
                <h4>
                    Scrap
                </h4>
            </button>
        </div>
        <div class="w300 left" id="planetActionDiv" ng-hide="!planetSelected">
            <div class="left clear-both padding5">Change Planet Output Priorities </div>
            <div class="left clear-both">
                <span class="left padding5 slider-height">Research</span>
                <div class="left">
                    <input class="w120 left" type="range" ng-model="outputSlider" style="float:left">
                </div>
                <span class="left padding5 slider-height">Production</span>
            </div>
            <div class="left clear-both">
                <button class="trans-bg no-border white-text padding5" type="button" ng-click="changeOutput(selectedElement)">
                    <h4>
                        Confirm
                    </h4>
                </button>
            </div>
        </div>

        <div class="right">
            <button type="button" style="width:180px" class="trans-bg no-border white-text padding5"  ng-click="openTunnels()">
                <h4>{{tunnelToggle}}</h4></button><br>
            <button type="button" style="width:180px" class="trans-bg no-border white-text padding5"  ng-click="colonizeMode()">
                <h4>{{colonizeToggle}}</h4></button>
        </div>
    </div>
</div>
