<div id="phaser-canvas-container">
</div>
<div class="erro_miniview">
    <div id="infoDiv" style="float: left; width: 300px">
        <img ng-src={{selectedElement.icon}} style="padding: 4px">
        <b>{{selectedElement.name}}</b><br>
        {{selectedElement.health}}
        {{selectedElement.size}}
        {{selectedElement.travelTime}}
    </div>
    <div id="shipActionDiv" ng-hide="!shipSelected" style="float: right; width: 395px">
        <button class="space-bg" type="button" ng-click="openTunnels()" style="width: 120px">{{tunnelToggle}}</button><br>
        <button class="space-bg" type="button" ng-click="enterCombat()" style="width: 120px">Enter Combat</button> <br>
        <button class="space-bg" type="button" ng-click="colonizeMode()" style="width: 120px">Colonize</button><br>
        <button class="space-bg" type="button" ng-click="scrapShip()" style="width: 120px">Scrap</button>
    </div>
    <div id="planetActionDiv" ng-hide="!planetSelected" style="float:right; width: 545px">
        <div class="left clear-both">Change Planet Output Priorities </div>
        <div class="left clear-both">
            <span class="left">Research</span>
            <input class="w120" type="range" ng-model="outputSlider">
            <span class="left">Production</span>
        </div>
        <div class="left clear-both padding10">
            <button class="space-bg" type="button" ng-click="changeOutput()">Confirm</button>
        </div>
    </div>
</div>