a {
    text-decoration: none;
    color: white;
}

.pd-panel-header {
    float: left;
    width: 75%;
}

.pd-nav-box {
    height: 150px;
}

.erronav {
    background-image: url("/assets/starfield.png");
    float: left;
    height: 600px;
}

body {
    margin: 5px;
    padding: 5px;
}

.erro-miniview {
    height: 150px;
    width: 800px;
    border-style: solid;
    border-color: grey;
    float: left;
}

.help-button {
    height: 150px;
    width: 200px;
    border-style: solid;
    border-color: grey;
}

.help-button-div {
    height 150px;
    width: 200px;
    float: left;
}

.space-link-button {
    height: 150px;
    width: 250px;
    border: 1px solid white;
}

.img-circle {
    border-radius: 50%;
}

.img-rounded {
    border-radius: 20%;
}

.no-bullet-list {
    list-style-type: none;
}

.yellow-bg {
    background: yellow;
}

.space-bg {
    background: black !important;
}

.trans-bg {
    background-color: transparent;
}

.star-bg {
    background-image: url("/assets/starfield.png");
}

.art-bg {
    background-image: url("/assets/space.png") !important;
}

.red-text {
    color: red;
}

.grey-text {
    color: grey;
}

.white-text {
    color: white !important;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.black-text {
    color: black;
}

.bar-text {
    color: black;
    font-size: 16px;
    font-weight: bolder;
}

.diplomacy {
    color: #cc00ff;
    font-weight: bold;
}

/* dark red */
.production{
    color: #780000;
    font-weight: bold;
}

/* dark blue */
.research {
    color: #0066cc;
    font-weight: bold;
}

/* Yellow/gold */
.generator {
    color: #ffcc00;
    font-weight: bold;
}

/* Light blue */
.shield {
    color: #00b8e6;
    font-weight: bold;
}

.help-button {
    color: blue;
}

.icon-padding {
    padding: 4px;
}

.margin20 {
    margin: 20px;
}

.no-padding {
    padding: 0px;
}

.padding5 {
    padding: 5px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

th, td {
    padding: 15px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
    float: left;
}

.w300 {
    width: 300px;
}

.w390 {
    width: 390px;
    float: left;
}

.w400 {
    width: 400px;
    float: left;
}

.w600 {
    width: 600px;
    float: left;
}

.w800 {
    width: 800px;
}

.help-div {
    width: 800px;
    height: 600px;
    overflow-y: scroll;
}

.img-grey {
    filter: grayscale(100%);
}

.img-normal {
}

.h40 {
    height: 40px;
}

.h100 {
    height: 100px;
}

.h120 {
    height: 120px;
}

.h150 {
    height: 150px;
}

.h560 {
    height: 560px;
}

.h600 {
    height: 600px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-border {
    border: none;
}

.clear-both  {
    clear: both;
}

.v-scroll {
    overflow-y: scroll;
}

.no-h-scroll {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;

    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(102, 140, 255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);


    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
