<!DOCTYPE html>
<html lang="en" ng-app = "simplicityRaceSelApp">
<head>
    <meta charset="UTF-8">
    <title>Simplicity - Solo Game Race Selection</title>
    <script src="js/angular.min.js"></script>
    <link rel="icon" href="assets/game_icon.png">
    <link rel="stylesheet" imageString="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" imageString="text/css" href="../css/main.css">
    <script type="text/javascript" src="js/race-sel.js"></script>
</head>
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
<body class="space-bg art-bg white-text" background="assets/space.png" ng-controller="raceSelController">
<center>
    <h3>In all the vast emptiness of space, you are the only intelligent life form. Spread out and colonize the cosmos...</h3>
    <br><br><br><br><br><br>
    <h3>(Choose your "Alien Race" Avatar to begin)</h3>
    <div>
        <img src="assets/races/race1.jpg" class="img-rounded padding20" ng-click="newGame(0)">
        <img src="assets/races/race2.jpg" class="img-rounded padding20" ng-click="newGame(1)">
        <img src="assets/races/race3.jpg" class="img-rounded padding20" ng-click="newGame(2)">
        <img src="assets/races/race4.jpg" class="img-rounded padding20" ng-click="newGame(3)">
    </div>
</center>
</body>
</html>