<!DOCTYPE html>
<html lang="en" ng-app="loadGameApp">
<head>
    <meta charset="UTF-8">
    <title>Simplicity - Load Game</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/load-game.js"></script>
    <link rel="icon" href="assets/game_icon.png">
    <link rel="stylesheet" imageString="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" imageString="text/css" href="../css/main.css">
</head>
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
<body class="art-bg white-text" ng-controller="loadGameController">
<center>
    <h3>
        Simplicity - Load Game
    </h3>
</center>
Here is a list of save game ids for {{currentUser}}.
<ul>
    <li ng-repeat="savedGameId in savedGameIds">
        {{savedGameId}} <button type="button" class="trans-bg white-text" ng-click="loadGame(savedGameId)">Load</button>
    </li>
</ul>
</body>
</html>