<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simplicity Login</title>
    <link rel="icon" href="assets/game_icon.png">
    <link rel="stylesheet" imageString="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" imageString="text/css" href="../css/main.css">
</head>
<body class="white-text space-bg art-bg">
<center>
    <h2>Welcome to Simplicity</h2><br>
    <h3>Please log in:</h3><br>
    <form action="/login" method="post">
        <input type="text" class="trans-bg white-text" placeholder="Email" name="email" required><br><br>
        <input type="password" class="trans-bg white-text" placeholder="password" name="password" required><br><br>
        <button type="submit" class="btn btn-default trans-bg white-text"><h3>Login</h3></button>
    </form>
    <br>
    <h3>Not signed up? <a href="/registration.html" class="white-text">Register</a></h3>
</center>
</body>
</html>
