<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simplicity Main Menu</title>
    <link rel="icon" href="assets/game_icon.png">
    <link rel="stylesheet" imageString="text/css" href="../css/main.css">
</head>
<body class="space-bg art-bg white-text">
    <center>
        <h2>Simplicity</h2>

        <!--<button class="trans-bg" style="width: 200px" type="button"><a href="/game-lobby" class="white-text"><h2>Game Lobby</h2></a></button><br><br>
        <button class="trans-bg" style="width: 200px" type="button"><a href="/empty-race-sel" class="white-text"><h2>New Open Game</h2></a></button>-->

        <a href="/game-lobby" class="white-text"><h2>Game Lobby</h2></a><br><br>
        <a href="/empty-race-sel" class="white-text"><h2>New Open Game</h2></a>

        <!--<div class="space-link-button white-text">
            <a href="/game-lobby">Game Lobby</a>
        </div>
        <div>
            <a href="/empty-race-sel" class="space-link-button white-text" style="border-style: solid; border-color: white"><h2>New Open Game</h2></a>
        </div>-->

    </center>
</body>
</html>