<!DOCTYPE html>
<html lang="en" ng-app="simpleLobbyApp">
<head>
    <meta charset="UTF-8">
    <title>Simplicity Simple Lobby</title>

    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/simple-lobby.js"></script>
</head>
<body ng-controller="simpleLobbyController">
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
Welcome to the Simplicity Simple Lobby. Here is the list of users in the lobby:<br>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        {{user.email}}
    </li>
</ul>
<br>
(There is nothing to do in this lobby)
</body>
</html>